Django>=3.0,<4.0  # Specify your Django version
pandas>=1.0  # For data manipulation
obspy>=1.2.2  # For seismic data handling
psycopg2-binary>=2.9  # PostgreSQL adapter for Python (if using PostgreSQL)
